<!doctype html>
<head>
    <title>Welcome to Gabay</title>

</head>

<body bgcolor="grey">
<center><h1><Font color="yellow">{{ table }}</font></h1></center>

<br>

<ul>

    <table border="2" align="center">

        {% for line in qu1 %}

             <tr>
                 {% for col in line %}
                         <td>{{ col }}</td>
                 {% endfor %}
             </tr>
         {% endfor  %}

    </table>

</ul>
          <form action = "http://localhost:5000/logout" method = "POST" >
              <p><input type = "submit" value = "Logout" /></p>
</body>

      </form>
